nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
}

.navbar-brand{
    background-color: #4aaaa5;
    color: #ffffff;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700px;
    line-height: 90px;
    text-align: center;
}

.nav-link {
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    border-left: 1px solid #efefef;
}

.nav-link:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

#heading {
    border: 1px solid #dddddd;
    padding: 30px;
    margin: 0 auto 40px;
    background: #ffffff;
}

h1 {
    margin-bottom: 20px;
    font-family: Georgia, times, "Times new Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
}

.img-thumbnail {
    height: 250px;
    width: 300px;
    margin-top: 30px;
}

h3 { 
    position: absolute;
    bottom: 20px;
    width: 87%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}

#button {
    background-color: #4aaaa5;
    border: 0;
    margin-top:10px;
}

.card-footer {
    height: 50px;
    background-color: grey;
    border-top: 5px solid #4aaaaf;
    
}
